body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

#container{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#header-container{
    background-color: chartreuse;
    min-height: 100px;
}
h1{
    margin: 0;
    position: relative;
    top: 25px;
    text-transform: uppercase;
}
h3{
    color: #333;;
    border-bottom: 2px solid #333;
    max-width: 400px;
    text-align: start;
    margin: 20px auto;
    text-transform: uppercase;
}
#new-task{
    outline: none;
}
#submit-button, input[type = "text"]{
    margin: 0;
    padding: 10px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 8px;
}
#submit-button{
    height: 40px;
    background: lightskyblue;
    cursor: pointer;
}
.list-elements{
    display: inline-block;
    width: 200px;
    text-align: start;
}
.edit, .delete{
    outline: none;
    background: #fff;
    border: none;
    cursor: pointer;
}
.edit:hover{
    color: rgb(40, 160, 80);
}
.delete:hover{
    color: orangered;
}
.edit-task{
    outline: none;
    border: none !important;
    width: 200px;
}
#completed-task input{
    color: rgb(201, 189, 189);
    text-decoration: line-through;
}