body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Lato, sans-serif; */
    font-family: 'Righteous', cursive;
}

#container{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    background-color: white;
}
#header-container{
    background-color: #64C9CF;
    min-height: 100px;
    position: sticky;
    top: 0px;
}
h1{
    margin: 0;
    position: relative;
    top: 25px;
    text-transform: uppercase;
}
h3{
    color: #333;;
    border-bottom: 2px solid #333;
    max-width: 400px;
    text-align: start;
    margin: 20px auto;
    text-transform: uppercase;
}
#new-task{
    outline: none;
}
#submit-button, input[type = "text"]{
    margin: 0;
    padding: 10px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-family: 'Righteous', cursive;
}
#submit-button{
    height: 40px;
    background: #d3cfcb;
    cursor: pointer;
}
.list-elements{
    display: inline-block;
    width: 200px;
    text-align: start;
}
.edit, .delete{
    outline: none;
    background: #fff;
    border: none;
    cursor: pointer;
}
.edit:hover{
    color: rgb(40, 160, 80);
}
.delete:hover{
    color: orangered;
}
.edit-task{
    outline: none;
    border: none !important;
    width: 200px;
}
#completed-task input{
    color: rgb(201, 189, 189) !important;
    text-decoration: line-through;
}
@media (min-width: 600px) {
    body {
        background-color: rgb(180, 178, 178);
    }
    #container{
        width: 600px;
    }
}